@use "variables" as v;

select {
  width: 14rem;
  padding: 0 1rem;

  option:checked {
    background-color: v.$accent;
  }
}

#themes-dropdown {
  background-color: v.$prim-text-color;
  color: v.$prim-bg-color;
}
