@use "variables" as v;

select {
  width: 100%;
  min-width: 9.5rem;
  height: 10.5rem;
  padding: 0.6rem 0.75rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  background-color: v.$prim-text-color;
  color: v.$prim-bg-color;
  box-shadow: inset 0 0 0 1px rgba(v.$prim-bg-color, 0.15);

  option:checked,
  option:hover,
  option:active,
  option:focus-visible,
  option:focus {
    background-color: v.$accent;
  }
}
